<nav class="navbar">
  <div class="left">
    <a routerLink="/" class="logo">
      <img src="logo4.svg" alt="Logo">
    </a>

    
    <div class="center">
      <button routerLink="" class="button_navbar">Home</button>
      <button routerLink="products" class="button_navbar">Prodotti</button>
      @if (isAdmin()) {
        <button routerLink="ordini-ricevuti" class="button_navbar">Ordini Ricevuti</button>
      } @else if (isLoggedNonAdmin()) {
        <button routerLink="ordini-effettuati" class="button_navbar">Ordini Effettuati</button>
      }

      @if (!auth.user()) {
        <button routerLink="login" class="button_navbar">Login</button>
      } @else {
        <button class="button_navbar" (click)="logout()">Logout</button>
      }

      <!-- SEARCHBAR GLOBALE -->
      <input
        type="search"
        class="navbar-search"
        placeholder="Cerca un titolo…"
        (keyup.enter)="onSearch(searchInput.value)"
        #searchInput
      />
    </div>
  </div>


  
  <div class="right">

      @if (auth.user()) {
      <button class="img_cart_cont" (click)="goToProfile()" title="Profilo">
        <img class="profile-icon"
             [src]="auth.user()!.immagineProfilo ? imageUrl(auth.user()!.immagineProfilo!) : 'https://cdn-icons-png.flaticon.com/512/1144/1144760.png'"
             alt="Profilo">
      </button>
    }
    <button routerLink="mappa" class="img_cart_cont" title="Trova BookStore">
      <i class="fa-solid fa-location-dot"></i>
    </button>

    @if (isAdmin()) {
      <button routerLink="admin" class="img_cart_cont admin-icon" title="Area Admin">
        <i class="fa-solid fa-dolly"></i>
      </button>
    }

    <a routerLink="/preferiti" class="nav-fav">
      <span class="heart-icon">♥</span>
      @if (favoritesCount() > 0) {
        <span class="fav-badge">{{ favoritesCount() }}</span>
      }
    </a>

    <button routerLink="cart" class="img_cart_cont" title="Carrello">
      <img src="https://cdn-icons-png.flaticon.com/512/1170/1170678.png" alt="Carrello">
      @if (cartCount() > 0) {
        <span class="badge">{{ cartCount() }}</span>
      }
    </button>

    
  </div>
</nav>


