/* NAVBAR PRINCIPALE */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #303030;
  padding: 0 40px;
  height: 90px;
  position: relative; /* Necessario per contenere il menu a larghezza intera */
}

.left, .center {
  display: flex;
  align-items: center;
  gap: 20px;
}

.button_navbar {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  padding: 10px 20px;
  transition: 0.3s;
  border-radius: 20px;
}

.button_navbar:hover {
  background-color: #505050;
}



/* INPUT E CARRELLO */
.input {
  width: 400px;
  height: 42px;
  border-radius: 10px;
  border: none;
  padding: 0 15px;
  font-size: 16px;
  outline: none;
}

.img_cart_cont {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 50px;
  filter: invert(1); /* Icona bianca */
}

.right {
  display: flex;
  align-items: center;
  margin-right: 40px; /* Ridotto un po' per bilanciare la navbar */
}

img {
  width: 100%;
  object-fit: cover;
}