 
<nav class="navbar">
  <div class="left">
    <a routerLink="/" class="logo">
      <img src="logo4.svg" alt="Logo">
    </a>

    <div class="spazziatore"></div>

    <div class="center">
      <button routerLink="" class="button_navbar">Home</button>
      <button routerLink="products" class="button_navbar">Prodotti</button>

      @if (!(auth.user$ | async)) {
        <button routerLink="login" class="button_navbar">Login</button>
      } @else {
        <button class="button_navbar" (click)="logout()">Logout</button>
      }
    </div>

  </div>

  <input type="text" class="input" placeholder="Cosa stai cercando?">

  <div class="right">
    <button routerLink="mappa" class="img_cart_cont" title="Trova BookStore">
      <img src="https://cdn-icons-png.flaticon.com/512/684/684908.png" alt="Mappa">
    </button>
    
    <!-- OMINO SOLO SE LOGGATO, ACCANTO AL CARRELLO -->
    @if (auth.user$ | async) {
      <button class="img_cart_cont" (click)="goToProfile()" title="Profilo">
        <img class="profile-icon"
             src="https://cdn-icons-png.flaticon.com/512/1144/1144760.png"
             alt="Profilo">
      </button>
    }

    <a routerLink="/preferiti" class="nav-fav">
      <span class="heart-icon">♥</span>
      <span class="fav-badge">{{ favoritesCount() }}</span>
    </a>

    <button routerLink="cart" class="img_cart_cont" title="Carrello">
      <img src="https://cdn-icons-png.flaticon.com/512/1170/1170678.png" alt="Carrello">
      <span class="badge">{{ cartCount() }}</span>
    </button>

  </div>

</nav>
