<section class="cart-container">

  <div class="cart-left">
    <h1>Carrello</h1>

    @if (items().length === 0) {
      <p class="empty">Il carrello è vuoto.</p>
    } @else {

      <ul class="cart-list">
        @for (item of items(); track item.product.id) {
          <li class="cart-item">

            <img class="cart-img"
                 [src]="imageUrl(item.product.copertina)"
                 [alt]="item.product.titolo" />

            <div class="cart-info">
              <div class="cart-title">{{ item.product.titolo }}</div>
              <div class="cart-author">{{ item.product.autore.nome }} {{ item.product.autore.cognome }}</div>
              <div class="cart-qty">
                <input class="cart-qty-input" type="number" [value]="item.quantity" (input)="updateQuantity(item.product.id, $event)" min="1">
                 × €{{ item.product.prezzo }}
              </div>

              <button class="remove-btn" (click)="remove(item.product.id)">
                Rimuovi
              </button>
            </div>
          </li>
        }
      </ul>
    }
  </div>

  <div class="cart-right-box">
    <div class="summary">
      <div class="summary-total">
        Totale ({{ items().length }} articoli):  
        <span class="price">€{{ total() }}</span>
      </div>

      <button class="order-btn" (click)="sendOrder()" [disabled]="items().length === 0">
        Procedi all'ordine
      </button>
    </div>
  </div>

</section>
