<div class="header">
  <h2>In evidenza >></h2>
  <p>I prodotti più ricercati del momento:</p>
  <p> DIOPORCO</p>
</div>

<div class="carousel-wrapper">
  <div class="freccetta_1">
    <button class="freccetta_1_butt" (click)="scroll(-1)"> </button>
  </div>

  <div class="carosello_carte" #carousel>
    @for (prodotto of prodottiSample(); track prodotto.id) {
      <div class="card" (click)="vaiAlDettaglio(prodotto.id)">
        <div class="img_cont">
          <img [src]="imageUrl(prodotto.copertina)">
 
               alt="Immagine prodotto" />
        </div>

        <div class="text-section">
          <h3>{{ prodotto.titolo || 'Titolo non disponibile' }}</h3>
          
          <p class="autore">
            {{ prodotto.autore.nome }} {{ prodotto.autore.cognome }}
          </p>

          @if (prodotto.quantita > 0) {
            <p class="disponibilita"> Disponibilità: {{ prodotto.quantita }} </p>
          } @else {
            <p class="non_disponibile"> Prodotto non disponibile</p>
          }

          <div class="section_prezzi">
            <span class="new-price">€{{ prodotto.prezzo }}</span>
          </div>
        </div>
      </div>
    }
  </div>

  <div class="freccetta_2">
    <button class="freccetta_2_butt" (click)="scroll(1)"> > </button>
  </div>
</div>